<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <display-name>BillingNG, a next-generation billing solution</display-name>


    <!-- Seam -->

<!--
    <listener>
        <listener-class>org.jboss.solder.resourceLoader.servlet.ResourceListener</listener-class>
    </listener>

    <listener>
        <display-name>Servlet Event Bridge Listener</display-name>
        <listener-class>org.jboss.solder.servlet.event.ServletEventBridgeListener</listener-class>
    </listener>

    <servlet>
        <display-name>Servlet Event Bridge Servlet</display-name>
        <servlet-name>Servlet Event Bridge Servlet</servlet-name>
        <servlet-class>org.jboss.solder.servlet.event.ServletEventBridgeServlet</servlet-class>
        &lt;!&ndash; Make load-on-startup a large enough value to be last initialized, first destroyed &ndash;&gt;
        <load-on-startup>99999</load-on-startup>
    </servlet>

    <filter>
        <display-name>Servlet Event Bridge Filter</display-name>
        <filter-name>Servlet Event Bridge Filter</filter-name>
        <filter-class>org.jboss.solder.servlet.event.ServletEventBridgeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Servlet Event Bridge Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Catch Exception Filter</filter-name>
        <filter-class>org.jboss.solder.servlet.exception.CatchExceptionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Catch Exception Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->

    <!-- JSF -->

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

</web-app>
