<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- used for schema generation only! -->

<hibernate-configuration>
    <session-factory>

        <!-- properties -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- mapped classes -->
        <mapping package="com.billing.ng.entities"/>
        <mapping class="com.billing.ng.entities.Account"/>
        <mapping class="com.billing.ng.entities.BillingCycle"/>
        <mapping class="com.billing.ng.entities.BillingPeriod"/>
        <mapping class="com.billing.ng.entities.Contact"/>
        <mapping class="com.billing.ng.entities.Customer"/>
        <mapping class="com.billing.ng.entities.NumberPattern"/>
        <mapping class="com.billing.ng.entities.Rate"/>
        <mapping class="com.billing.ng.entities.Staff"/>
        <mapping class="com.billing.ng.entities.User"/>        

    </session-factory>
</hibernate-configuration>

